<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.ac.kpu.ce2019152012.hairyou_semi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 위치정보 사용을 위해 권한을 추가-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/user"
        android:label="@string/app_name"
        android:roundIcon="@drawable/user"
        android:supportsRtl="true"
        android:theme="@style/Theme.HairYou_semi_nobar"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />
        <activity
            android:name=".user.MessageActivity"
            android:exported="true" />

        <activity
            android:name=".Splash_Activity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JoinCustomerActivity"
            android:exported="true" />
        <activity
            android:name=".JoinSelectActivity"
            android:exported="true" />

        <activity
            android:name=".user.CustomerContainerActivity"
            android:exported="true">
        </activity>

    </application>

</manifest>